/* base */
* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Caveat', cursive;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', sans-serif;
}

h2 {
  color: rgb(56, 56, 56);
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #6c757d;
}

.btn-custom {
  padding: 5px 20px;
  background-color: #ee8683;
}

.btn-custom:hover {
  padding: 5px 20px;
  background-color: #ee8683;
}

.r-p {
  padding-top: 80px;
  padding-bottom: 80px;
}

.bg-sec {
  background: #f8f9fa;
}

/* Preloader */
.loader-container {
  width: 100%;
  height: 100vh;
  background-color: #ece1e1;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 65px;
  height: 65px;
  border: 5px solid;
  color: #3498db;
  border-radius: 50%;
  border-top-color: transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  25% {
    color: #2ecc71;
  }
  50% {
    color: #f1c40f;
  }
  75% {
    color: #e74c3c;
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navbar */
nav.r-nav {
  background: transparent;
  padding: 20px 0;
  transition: 0.5s all;
}

ul {
  margin: auto;
}

nav .navbar-brand {
  font-size: 30px;
  color: #fff;
}

nav .navbar-brand:hover {
  font-size: 30px;
  color: rgb(39, 123, 202);
}

nav .navbar-nav li a {
  color: rgba(255, 255, 255, 0.884) !important;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: 'Nunito Sans', sans-serif;
}

.nav-link:hover {
  color: #ee8683 !important;
}

nav .navbar-nav li {
  margin-left: 15px;
}

nav.r-nav.stickyadd {
  background: #fff !important;
  padding: 15px 0;
  box-shadow: 0 1px 8px 3px rbga(0, 0, 0, 0.05);
  transition: 0.5s all ease-in-out;
}

nav.stickyadd .navbar-brand {
  color: #000;
  font-size: 40px;
  transition: 0.5s all;
}

nav.stickyadd .navbar-nav .nav-link {
  color: #000 !important;
}

.navbar .hamburger {
  color: rgba(255, 255, 255, 0.8);
}

nav.stickyadd .hamburger {
  color: #000;
}

/* Header */
header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/images/grass.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
}

.content-box {
  max-width: 700px;
  color: #fff;
}

.content-box h4 {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.8);
}

.content-box h1 {
  font-size: 55px;
}

.content-box p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
}

/* Experience */
.experience .experience-item {
  position: relative;
}

/*Contact Me*/
.form-group {
  margin: 15px;
}

/*Footer*/

footer {
  background-color: #46484b;
  height: 150px;
}

.link-icon a {
  font-size: 20px;
  color: #848484;
  padding: 10px;
  border: 1px solid #848484;
  border-radius: 50%;
}

.link-icon a:hover {
  border: 1px solid #eee;
  color: #eee;
  transition: 0.5s all;
}

/*Media query*/
@media (min-width: 200px) and (max-width: 768px) {
  .r-nav {
    background: #fff !important;
  }
  .r-nav .container {
    width: 85%;
  }
  nav .navbar-brand {
    font-size: 30px;
    color: #000;
  }
  .navbar .hamburger {
    color: #000;
  }
  nav .navbar-nav .nav-link {
    color: #000 !important;
  }

  .content-box h1 {
    font-size: 40px;
  }
  .content-box p {
    font-size: 16px;
  }
  header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../assets/images/grass.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
