/* base */
* {
  margin: 0;
  padding: 0;
  /* color: rgb(56, 56, 56); */
}

h1 {
  font-family: 'Caveat', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: rgb(56, 56, 56);
  text-shadow: 0px -23px #e6e6e9;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #6c757d;
}

a {
  text-decoration: none;
  color: #2f3031;
}

.btn-custom {
  padding: 5px 20px;
  background-color: #ee8683;
}

.btn-custom:hover {
  padding: 5px 20px;
  background-color: #ee8683;
}

.r-p {
  padding-top: 80px;
  padding-bottom: 80px;
}

.bg-sec {
  background: #f8f9fa;
}

/* Preloader */
.preloader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(242, 246, 255, 0.877);
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #62a0f1;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Navbar */
nav.r-nav {
  background: transparent;
  padding: 20px 0;
  transition: 0.5s all;
}

ul {
  margin: auto;
}

/* nav .navbar-brand {
  font-size: 30px;
  color: #fff;
}

nav .navbar-brand:hover {
  font-size: 30px;
  color: rgb(77, 236, 228);
} */

nav .navbar-nav li a {
  color: rgba(255, 255, 255, 0.884) !important;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: 'Nunito Sans', sans-serif;
}

.nav-link:hover {
  color: #ee9390 !important;
}

nav .navbar-nav li {
  margin-left: 15px;
}

nav.r-nav.stickyadd {
  background: #fff !important;
  padding: 15px 0;
  box-shadow: 0 1px 8px 3px rbga(0, 0, 0, 0.05);
  transition: 0.5s all ease-in-out;
}

/* nav.stickyadd .navbar-brand {
  color: #000;
  font-size: 40px;
  transition: 0.5s all;
} */

nav.stickyadd .navbar-nav .nav-link {
  color: #000 !important;
}

.navbar .hamburger {
  color: rgba(255, 255, 255, 0.8);
}

nav.stickyadd .hamburger {
  color: #000;
}

/* Header */
header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/images/background/dewang-gupta-5AW7otY6Ocs-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
}

.content-box {
  max-width: 700px;
  color: #fff;
}

.content-box h4 {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.8);
}

.content-box h1 {
  font-size: 55px;
}

.content-box p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
}

/*Skills*/
.skill-image-container {
  max-width: 800px;
  margin: 0 auto;
}
.skill-row .col-md-3 {
  padding: 0 10px;
}

.skill-row .col-md-3 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

/* Experience */
.experience .experience-item {
  position: relative;
}

/*Portfolio*/
.portfolio-a {
  max-width: 410px;
}

/*Contact Me*/
.form-group {
  margin: 15px;
}

/*Footer*/

footer {
  background-color: #46484b;
  height: 150px;
}

.link-icon a {
  font-size: 20px;
  color: #848484;
  padding: 10px;
  border: 1px solid #848484;
  border-radius: 50%;
}

.link-icon a:hover {
  border: 1px solid #eee;
  color: #eee;
  transition: 0.5s all;
}

/*Media query*/
@media (min-width: 200px) and (max-width: 768px) {
  .r-nav {
    background: #fff !important;
  }
  .r-nav .container {
    width: 85%;
  }
  nav .navbar-brand {
    font-size: 30px;
    color: #000;
  }
  .navbar .hamburger {
    color: #000;
  }
  nav .navbar-nav .nav-link {
    color: #000 !important;
  }

  .content-box h1 {
    font-size: 40px;
  }
  .content-box p {
    font-size: 16px;
  }
  header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../assets/images/background/dewang-gupta-5AW7otY6Ocs-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
